.header{
  background-color: green;
  color: white;
  padding: 10px 0px 10px 400px;
}
.end{
    background-color: green;
}
.left{
  float: left;
  padding-top: 50px;
}
.right{
  float: right;
  margin-right: 200px;
}
.wedding{
  float: left;
}
.nature{
  float: right;
}
